#modal-content {
    height: 450px;
    width: 600px;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,215,223,1) 0%, rgba(255,221,233,1) 100%);
}

#modal-content > h1 {
    text-align: center;
}

#modal-content > form {
    width: 550px;
    height: 200px;
    padding-left: 25px;
}

.confirm-pass-input {
    padding-bottom: 10px;
}
