.signUpFormDiv {
    height: 450px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.signUpText {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

#signUpForm {
    width: 550px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.confirm-pass-input {
    padding-bottom: 10px;
}

#signUpForm > button {
    padding: 5px;
}

#signUpForm > button:enabled {
    border: lightgray 1px solid;
    cursor: pointer;
    font-weight: bold;
}
