.reviewFormDiv {
  text-align: center;
}

.reviewFormText {
  font-size: 24px;
  padding: 10px;
}

.rating-input {
    display: flex;
    flex-direction: row;
    margin-right: 4px;
    justify-content: center;
    padding: 20px 0px;
  }

.rating-input > span {
  font-size: 26px;
}

.rating-input > div > i {
  font-size: 26px;
}

.rating-input .filled {
    color: black;
  }

.rating-input .empty {
    color: lightgray;
}

.submit-review-button > button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #FF385C;
  color: white;
  margin-bottom: 20px;
}
