.deleteReviewModalDiv {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}

.confirmReviewDeleteText {
    font-size: 25px;
}

.yesButtonDeleteReviewDiv, .noButtonDeleteReviewDiv {
    width: 90%;
    height: 20%;
}

.yesButtonDeleteReview {
    background-color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.noButtonDeleteReview {
    background-color: #FF385C;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
