.big-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    border-radius: 50px;
}


.buttons > button > li{
    list-style-type: none;
}

.buttons > button > a {
    text-decoration: none;
    color: black;
}

.buttons > button {
    margin-right: 3px;
    margin-left: 3px;
    background-color: white;
    border: black solid 1px;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

.cityStateManage, .priceManage {
    font-weight: bold;
    text-align: left;
}

.cityStateManage {
    max-width: 200px;
}

.starRatingManage {
    font-weight: bold;
    color: black;
}
