.all-spots-div {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 65px;
}

.div-contents-flex {
    width: 200px;
    height: 250px;
    margin: 8px;
}

.each-link {
    position: relative;
}

.each-link:hover .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: gray;
    color: white;
}

.div-contents-flex > a > .spot-description {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

img {
    width: 200px;
    height: 200px;
}
