
.all-spots-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    border-radius: 50px;
}

.div-contents-flex {
    width: fit-content;
    height: 300px;
    background-color: white;
    border-radius: 30px;

}

.each-link {
    position: relative;
    text-decoration: none;

}

.each-link:hover .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: gray;
    color: white;
}

.div-contents-flex > a > .spot-description {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

img {
    width: 240px;
    height: 240px;
    border-radius: 25px;
}

.left-side-description {
    color: black;
}


.right-side-description {
    font-weight: bold;
    color: black;
}

.cityStateHome, .priceHome {
    font-weight: bold;
    text-align: left;
}

.cityStateHome {
    max-width: 200px;
}
