#spotForm {
    text-align: center;
    border-radius: 50px;
    padding: 50px 0px;
}

.country,
.street-address {
    padding-bottom: 5px;
}

.city-and-state {
    padding-bottom: 15px;
}

textarea {
    width: 500px;
    height: 150px;
}

.img1 > input,
.img2 > input,
.img3 > input,
.img4 > input,
.img5 > input
 {
    width: 400px;
}

.submit-form {
   padding-top: 10px;
}

.submit-form > button:enabled {
    background-color: #FF385C;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-form > button:disabled {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
}

.errors {
    color: red;
}
