.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "main main one two"
    "main main three four";
}

.grid > .main {
    width: 500px;
    height: 400px;
    grid-area: main;
}

.grid > .photoone {
    grid-area: one;
    width: 250px;
    height: 200px;
}

.grid > .phototwo {
    grid-area: two;
    width: 250px;
    height: 200px;
}

.grid > .photothree {
    grid-area: three;
    width: 250px;
    height: 200px;
}

.grid > .photofour {
    grid-area: four;
    width: 250px;
    height: 200px;
}

h2 {
    font-size: 30px;
}

.middle-section-spot-id {
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 2px;
    padding-bottom: 20px;
}

.right-side-spot-id {
    border: black solid 2px;
    margin-top: 20px;
    width: 400px;
}

.top-right-side-spot-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.right-side-spot-id > .reserve-button {
    text-align: center;
    padding-bottom: 20px;
}

.link-reserve-button {
    width: 60%;
    height: 50px;
    background-color: salmon;
    color: white;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}

.top-right-side-spot-id > div {
    font-size: 16px;
    font-weight: bold;
}

.second-star {
    font-size: 20px;
    padding: 20px 0px;
}

.make-review {
    padding-bottom: 10px;
}
.make-review > li {
    list-style-type: none;
    font-size: 16px;
    background-color: salmon;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 5px 0px;
    border: black solid 1px;
    width: 200px;
    text-align: center;
}

.reviews-spot-id > .name-review{
    font-size: 18px;
    padding-bottom: 5px;
}

.left-side-spot-id > p {
    padding: 0px 25px 0px 0px;
    width: 600px;
    word-wrap: break-word;
}

.reviews-spot-id {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviews-spot-id > .review-review {
    font-weight: bold;
    padding-top: 10px;
}

.reviews-spot-id > button {
    list-style: none;
    background-color: salmon;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
