/* TODO Add site wide styles */
* {
font-family: 'Comfortaa', sans-serif;
font-size: 15px;
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,215,223,1) 0%, rgba(255,221,233,1) 100%); */
}

html {
    background-color: lightgray;
}
