.hidden {
    display: none;
}

ul > li > .navlink > img {
    height: 50px;
    width: 50px;
}

ul > li,
ul > .right-nav > li {
    list-style-type: none;
}

.right-nav {
    display: flex;
}

.create-spot {
    margin-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}
