.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    z-index: 1;
    right: 0px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    background-color: white;
}

ul > li > button {
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

ul > li > .manage-spots, ul > li > .manage-bookings {
    color: black;
    text-decoration: none;
}

.button-with-arrow {
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: lightgray solid 1px;
    border-radius: 25px;
    cursor: pointer;
}

.profile-div > img{
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

/* .dropDownNoUser > li {
    list-style: none;
    cursor: pointer;
} */
