.logInFormDiv {
    height: 250px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.logInText {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

#logInForm {
    width: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


#logInForm > button:enabled {
    border: lightgray 1px solid;
    cursor: pointer;
    font-weight: bold;
}

.demo-button {
    text-align: center;
    margin-bottom: 10px;
}

.demoButton {
    border: lightgray 1px solid;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.logInErrors {
    color: red;
}
